@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
  margin: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.appHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: white;
  color: lightblue;
}

.appTitle {
  display: flex;
  flex-basis: 25vw;
  border-right: 1px solid #ccc;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: lightblue;
  color: white;
}

.appRoom {
  display: flex;
  flex-basis: 75vw;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.appBody {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.messageWrapper {
  display: flex;
  background: white;
  flex-direction: column;
  flex-basis: 75vw;
  flex: 1;
}
